<?xml version="1.0" encoding="UTF-8"?>
<robot name="ezgripper" xmlns:xacro="http://www.ros.org/wiki/xacro">

<material name="white">
  <color rgba="1 1 1 1"/>
</material>
<material name="3d_print">
  <color rgba="0.7 0.6 0.23 0.6"/>
</material>
<material name="membrane">
  <color rgba="0.5 0.5 0.5 0.4"/>
</material>

<xacro:macro name="softmatics_gripper" params="prefix parent_link *origin">
    <joint name="tool_joint" type="fixed">
        <xacro:insert_block name="origin"/>
        <parent link="${parent_link}"/>
        <child link="${prefix}_link"/>
    </joint>

    <link name="${prefix}_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://iiwa_tool_description/meshes/visual/softmatics.stl"/>
        </geometry>
        <material name="white"/>
      </visual>
      <collision>
        <origin xyz="0 0 0.14" rpy="0 0 0"/>
        <geometry>
          <box size="0.12 0.12 0.05"/>
        </geometry>
      </collision>
      <inertial>
        <mass value=".025"/>
        <inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.01"/>
      </inertial>
    </link>
</xacro:macro>

</robot>
