<?xml version="1.0"?>

<!-- Here we define the robot, we named it "iiwa14_tool" -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="iiwa14_tool">
  
  <!--Import the iiwa14 macro -->
  <xacro:include filename="$(find iiwa_description)/urdf/iiwa14.xacro"/>
  
  <!--  Arguments for the iiwa14 macro  -->
  <xacro:arg name="hardware_interface" default="PositionJointInterface"/>
  <xacro:arg name="robot_name" default="iiwa"/>
  
  <!--  Define the my 3D space -->
  <link name="world"/>
  
  <gazebo reference="world">
    <static>true</static>
  </gazebo>

  <joint name="base_joint" type="fixed">
    <parent link="world"/>
    <child link="base"/>
  </joint>

  <link name="base">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://iiwa_tool_description/meshes/visual/base.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0.06" rpy="0 0 0"/>
      <geometry>
        <box size="0.4 0.4 0.12"/>
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 1" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia
        ixx="1.0" ixy="0.0" ixz="0.0"
        iyy="1.0" iyz="0.0"
        izz="1.0"/>
    </inertial>
  </link>

  <joint name="mount_joint" type="fixed">
    <parent link="base"/>
    <child link="mount"/>
  </joint>

  <link name="mount">
    <visual>
      <origin xyz="0 0 0.12" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://iiwa_tool_description/meshes/visual/mount.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0.82" rpy="0 0 0"/>
      <geometry>
        <box size="0.25 0.25 1.4"/>
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 1" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia
        ixx="1.0" ixy="0.0" ixz="0.0"
        iyy="1.0" iyz="0.0"
        izz="1.0"/>
    </inertial>
  </link>

  <joint name="table_joint" type="fixed">
    <parent link="world"/>
    <child link = "table"/>
    <origin xyz="0.7 0.7 0" rpy="0 0 0.785"/>
  </joint>

<!--
  <link name="table">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://iiwa_tool_description/meshes/visual/conveyor.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0.475" rpy="0 0 0"/>
      <geometry>
        <box size="0.445 3.0 0.91"/>
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 1" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia
        ixx="1.0" ixy="0.0" ixz="0.0"
        iyy="1.0" iyz="0.0"
        izz="1.0"/>
    </inertial>
  </link>
-->
  <!-- Here we insert an iiwa14 robot in the scene, it's origin is just on top of the box previously defined. You can use 0,0,0 if you don't have that. -->
  <xacro:iiwa14 hardware_interface="$(arg hardware_interface)" robot_name="$(arg robot_name)" parent="mount">
    <origin xyz="0 0.15 1.20" rpy="-1.57 0 0"/>
  </xacro:iiwa14>
  
  <!-- Tool properties -->
  <xacro:property name="tool_mass" value="0.200"/>
  <xacro:property name="tool_joint_offset" value="0.00 0.00 0.00"/>
  <xacro:property name="tool_link_offset" value="0.00 0.00 0.00"/>
  
  <!--  Here we define a dummy joint between the tip of the iiwa14 and the base of the tool. 
  There is no offset between the two, that means the tool is attached at the robot flange. -->
  <joint name="tool_joint" type="fixed">
    <parent link="iiwa_link_ee"/>
    <child link="tool_link"/>
    <origin xyz="${tool_joint_offset}" rpy="0 ${PI/2.0} 0"/>
  </joint>
  
  <!-- Here we define the geometry of the tool. We designed the tool ourselves, so we have a mesh file that represents it.
  Else, one can define it using a geometric representation that approximate it, like a cylinder (see commented lines) -->
  <link name="tool_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 -1.57 0"/>
      <geometry>
        <mesh filename="package://iiwa_tool_description/meshes/visual/gripper.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 -1.57 0"/>
      <geometry>
        <mesh filename="package://iiwa_tool_description/meshes/visual/gripper.dae"/>
      </geometry>
    </collision>
  </link>
  
  <!--  Here we define another dummy joint. It is placed at the end of the tool, so we can then attach a frame at its TCP for control -->
  <joint name="tool_tip_joint" type="fixed">
    <parent link="tool_link"/>
    <child link="tool_link_ee"/>
    <origin xyz="${tool_link_offset}" rpy="0 0 0"/>
  </joint>
  
  <!--  The TCP frame is here defined -->
  <link name="tool_link_ee"/>
</robot> 
